GKInstituteChatBot.json
{
  "name": "GKInstituteChatBot",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -176,
        336
      ],
      "id": "9105e069-f026-448b-a0bd-6e70e32b007f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Mlfv5hRcN9FnU4FP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -672,
        64
      ],
      "id": "3ae74b44-151d-4e69-a412-232937f9acaf",
      "name": "When chat message received",
      "webhookId": "601b5c65-01c2-4a43-ab4a-7434030e6e0d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "=You are provided with institute knowledge in the variable {{ $json.context }}.\n\nUse this as your knowledge base when answering questions.\n\nYour role is to guide prospective students in choosing the right course and help them understand the training programs offered by the institute.\n\nYou must answer questions using ONLY the information provided in the context data.\n\n-----------------------------------------------------\n\nABOUT GK INSTITUTE\n\nGK Institute is a practical training institute and digital agency that teaches students through a real \"Agency Workspace\" model where they work on real client projects using industry tools.\n\nThe goal is to make students job-ready with practical experience and a strong portfolio.\n\n-----------------------------------------------------\n\nYOUR ROLE AS A COUNSELOR\n\nYou must behave like a friendly and professional academic counselor.\n\nYour responsibilities:\n\n• Understand the user's interests or career goals  \n• Recommend relevant courses  \n• Explain course benefits and skills learned  \n• Guide users toward enrollment or counseling  \n• Encourage downloading the course brochure  \n• Suggest contacting the institute if needed  \n\n-----------------------------------------------------\n\nCONVERSATION STYLE\n\nTone must be:\n\nPolite  \nHelpful  \nProfessional  \nEncouraging  \n\nKeep answers:\n\nClear  \nShort  \nEasy to understand  \n\nDo NOT give very long responses.\n\n-----------------------------------------------------\n\nCOURSE RECOMMENDATION RULES\n\nIf a user mentions interest in:\n\nWeb development or coding\n→ Recommend MERN Stack Mastery or Java Programming\n\nDesign or creativity\n→ Recommend UI & UX Designing\n\nAutomation or AI tools\n→ Recommend n8n Smart Automation or Prompt Engineering\n\nDigital marketing or business growth\n→ Recommend Digital Marketing\n\nWebsite building\n→ Recommend WordPress Development\n\nAlways explain briefly what they will learn.\n\n-----------------------------------------------------\n\nKEY DIFFERENTIATORS TO MENTION\n\nWhen appropriate highlight:\n\n• Practical learning with live agency projects\n• Real-world portfolio building\n• Mentorship from industry professionals\n• Hybrid learning (online + offline)\n• Career guidance and placement support\n\n-----------------------------------------------------\n\nWHEN USER IS UNSURE\n\nIf the user doesn't know which course to choose:\n\nAsk questions like:\n\n\"What field interests you more: technology, design, marketing, or automation?\"\n\nThen recommend suitable courses.\n\n-----------------------------------------------------\n\nADMISSION GUIDANCE\n\nIf the user asks about joining:\n\nExplain the process:\n\n1. Explore the courses\n2. Schedule a counseling session\n3. Attend a demo class\n4. Complete enrollment\n\n-----------------------------------------------------\n\nCONTACT GUIDANCE\n\nEncourage users to contact the institute when appropriate.\n\nProvide:\n\nPhone: +91 9971944676  \nWhatsApp: https://wa.me/919971944676  \nEmail: contact@gkwebtech.cloud  \n\nExample response:\n\n\"You can also speak directly with our counselor on WhatsApp for detailed guidance.\"\n\n-----------------------------------------------------\n\nIMPORTANT RULES\n\nNever invent courses that are not listed.\n\nNever guess information that is not in the context.\n\nIf a question is unrelated to courses or the institute, politely redirect the conversation.\n\nExample:\n\n\"I specialize in helping students choose the right course at GK Institute. Let me know what field you're interested in.\"\n\n-----------------------------------------------------\n\nGOAL\n\nYour main goal is to help the user:\n\n• understand courses\n• choose the right program\n• download the brochure\n• contact the institute"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -176,
        64
      ],
      "id": "13a7fa92-bd39-4c1c-9b98-91dfed3e8c22",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        304,
        64
      ],
      "id": "2796ebce-a451-4ed4-bb12-16d60e159e07",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -80,
        336
      ],
      "id": "19a1fe8b-707a-4d39-b98e-20a5d969c22c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "df789c19-46b3-46e6-80c0-03ba4aa2e6a6",
              "name": "context",
              "value": "{     \"institute_name\": \"GK Institute (GK WebTech AI Institute)\",     \"overview\": \"GK Institute is a hybrid digital agency and training institute that bridges the gap between traditional education and industry requirements through intensive, project-based learning. We simulate a real agency environment where students work on live client projects using industry-standard tools.\",     \"mission\": \"To empower the future workforce by providing practical, job-ready skills through hands-on experience and direct mentorship from industry experts.\",     \"vision\": \"To be the leading global hub for high-impact technical and creative training, where every student graduates with a deployment-ready portfolio.\",     \"learning_methodology\": {         \"name\": \"Agency Workspace Model\",         \"steps\": [             {                 \"step\": \"01\",                 \"title\": \"Select Your Track\",                 \"description\": \"Choose a specialized career path in Tech, Marketing, or Design.\"             },             {                 \"step\": \"02\",                 \"title\": \"Join the Workspace\",                 \"description\": \"Enter our digital office environment. Attend standups and use industry tools like Discord, Figma, and GitHub.\"             },             {                 \"step\": \"03\",                 \"title\": \"Deliver Real Work\",                 \"description\": \"Work on live client briefs under the guidance of agency mentors. No hypothetical case studies.\"             },             {                 \"step\": \"04\",                 \"title\": \"Career Launch\",                 \"description\": \"Leverage your portfolio and our agency network to secure your role in the industry.\"             }         ]     },     \"course_categories\": [         \"Technology & Development\",         \"Creative & Design\",         \"AI & Automation\",         \"Digital Marketing & Online Business\",         \"Finance & Banking\",         \"Foundational & Career Skills\"     ],     \"available_courses\": [         {             \"name\": \"MERN Stack Mastery\",             \"slug\": \"mern-stack-mastery\",             \"category\": \"Technology & Development\",             \"duration\": \"6 Months\",             \"price\": 45000,             \"description\": \"An intensive immersion into full stack engineering. Master MongoDB, Express, React, and Node with advanced architecture and deployment.\",             \"skills\": [                 \"MongoDB\",                 \"Express\",                 \"React\",                 \"Node.js\",                 \"REST APIs\",                 \"JWT Authentication\",                 \"Cloud Deployment\"             ]         },         {             \"name\": \"UI & UX Designing\",             \"slug\": \"ui-and-ux-designing\",             \"category\": \"Creative & Design\",             \"duration\": \"3 Months\",             \"price\": 35000,             \"description\": \"Transform ideas into stunning digital experiences. Master user research, wireframing, and interactive prototyping using Figma.\",             \"skills\": [                 \"Figma\",                 \"User Research\",                 \"Wireframing\",                 \"Prototyping\",                 \"Design Systems\",                 \"Accessibility\"             ]         },         {             \"name\": \"WordPress Development\",             \"slug\": \"wordpress-development\",             \"category\": \"Technology & Development\",             \"duration\": \"4 Months\",             \"price\": 20000,             \"description\": \"Beyond simple sites. Master custom themes, plugin development, and high-security WordPress architectures.\",             \"skills\": [                 \"PHP\",                 \"Gutenberg\",                 \"Theme Customization\",                 \"Elementor\",                 \"WooCommerce\",                 \"Security\"             ]         },         {             \"name\": \"n8n Smart Automation\",             \"slug\": \"n8n-smart-automation\",             \"category\": \"AI & Automation\",             \"duration\": \"2 Months\",             \"price\": 22000,             \"description\": \"Build automated business workflows that connect 100+ apps without writing complex code.\",             \"skills\": [                 \"n8n\",                 \"APIs\",                 \"Webhooks\",                 \"JSON\",                 \"Workflow Logic\",                 \"Docker\"             ]         },         {             \"name\": \"Prompt Engineering\",             \"slug\": \"prompt-engineering\",             \"category\": \"AI & Automation\",             \"duration\": \"2 Months\",             \"price\": 18000,             \"description\": \"Master the art of communicating with AI. Craft elite prompts for business, coding, and content.\",             \"skills\": [                 \"LLM Mechanics\",                 \"Prompt Structures\",                 \"Chain of Thought\",                 \"AI Agents\",                 \"Hallucination Control\"             ]         },         {             \"name\": \"Java Programming\",             \"slug\": \"java-programming\",             \"category\": \"Technology & Development\",             \"duration\": \"3 Months\",             \"price\": 30000,             \"description\": \"Master the language of enterprise. Build high-performance, object-oriented software with advanced Java techniques.\",             \"skills\": [                 \"Java\",                 \"OOP\",                 \"Data Structures\",                 \"JVM Architecture\",                 \"Maven\",                 \"Spring Boot Basics\"             ]         },         {             \"name\": \"Digital Marketing\",             \"slug\": \"digital-marketing\",             \"category\": \"Digital Marketing & Online Business\",             \"duration\": \"3 Months\",             \"price\": 25000,             \"description\": \"Comprehensive digital marketing training covering SEO, SEM, SMM, and Email Marketing.\",             \"skills\": [                 \"SEO\",                 \"Google Ads\",                 \"Meta Ads\",                 \"Content Strategy\",                 \"Analytics\",                 \"Email Marketing\"             ]         }     ],     \"student_benefits\": [         \"Practical training on live agency projects\",         \"1:1 mentorship from industry professionals\",         \"Deployment-ready portfolio creation\",         \"Access to agency-standard tools and workflows\",         \"Job placement assistance and career guidance\",         \"Hybrid learning model (Online + Offline)\"     ],     \"admission_process\": [         \"1. Explore the Course Catalog on our website.\",         \"2. Schedule a free counseling session with an academic advisor.\",         \"3. Attend a live demo class to experience our teaching methodology.\",         \"4. Complete the enrollment process and join the Agency Workspace.\"     ],     \"contact_information\": {         \"website\": \"https://gkwebtech.cloud\",         \"phone\": \"+91 9971944676\",         \"email\": \"contact@gkwebtech.cloud\",         \"address\": \"2nd Floor, Tiwari Clinic Building, Jyoti Rao Fule Circle, Alwar 301001, Rajasthan, India\",         \"whatsapp\": \"https://wa.me/919971944676\"     },     \"frequently_asked_questions\": [         {             \"question\": \"Is this an online or offline course?\",             \"answer\": \"We offer a hybrid model. Major technical sessions are live online, while practical labs and mentoring take place in our digital workspace. We also have physical campus facilities in Alwar.\"         },         {             \"question\": \"Do I get a certificate?\",             \"answer\": \"Yes, you receive a verifiable GK Institute Certification upon successful completion of the course and project requirements.\"         },         {             \"question\": \"What is the 'Agency Workspace'?\",             \"answer\": \"It's our unique training environment where you work like an employee in a digital agency, handling real tasks, deadlines, and client briefs.\"         }     ],     \"counselor_instructions\": {         \"tone\": \"Polite, professional, helpful, and encouraging.\",         \"guidelines\": [             \"Always start by greeting the user and asking about their career goals or interests.\",             \"Recommend specific courses based on the user's mentioned interests (e.g., if they like design, suggest UI/UX; if they like logic, suggest Java or MERN).\",             \"Highlight the 'Practical Learning' aspect and the 'Agency Workspace' model as our key differentiator.\",             \"If a user is unsure, suggest starting with a 'Foundational' course or scheduling a call with a human counselor.\",             \"Encourage users to download the course brochure from the website for detailed modules.\",             \"Always guide the user to contact us via WhatsApp or Phone for direct admission inquiries.\",             \"Do not make up information; if you don't know something, ask the user to contact our support team.\"         ]     } }",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        64
      ],
      "id": "df425214-fc1e-4528-8390-f9bc70aed187",
      "name": "GK Institute Context"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "GK Institute Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GK Institute Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a96ef139-7938-428a-9a26-3de038fde42d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23ba3ab6372b989322c7c1598e8150e6a955c2f7e518d62cdde5e77bee082320"
  },
  "id": "86lHm1Rs29kaucSf",
  "tags": []
}